<extend name="Public:common" />
<block name="main">

<div class="gallery">
   <div class="col-md-offset-2">
   <h2><strong>个人信息</strong></h2>
    <hr style="width:80%" class="col-md-offset-0"/>
    <h5><strong>上传头像和修改个性签名</strong></h5><br/>
    <div class="row">
	    <a href="{:U('userinfo/add')}" class="btn btn-success">更新</a>
    </div>
	<br/>
	
	<div class="row">
    <table class="table table-hover table-striped" style="width:80%" >
        <tbody>
        <foreach name="info" item="v">
            <tr>
			    <th>姓名：</th>
                <td>{$v.realname}</td>
            </tr>
			 <tr>
			    <th>邮编：</th>
			    <td>{$v.zipcode}</td>
			</tr>
			<tr>
			    <th>住址：</th>
			    <td>{$v.location}</td>
			</tr>
			<tr>
			    <th>电话：</th>
			    <td>{$v.tel}</td>
			</tr>
			<tr>
			    <th>支付宝账号：</th>
			    <td>{$v.alipay}</td>
			</tr>
        </foreach>
        </tbody>
    </table>
    </div>
	
</div>
</block>