<extend name="Public:common" />
<block name="main">

<div class="gallery">
   <div class="col-md-offset-2">
   <h2><strong>个人中心</strong></h2>   
    <hr style="width:80%" class="col-md-offset-0"/>
	<!--<h><strong>尊敬的 <?php echo session('username')?>, 欢迎您进入漏洞报告平台 !</strong></h4>-->
	<br/>
	<!--<button class="btn btn-default text-align"><a href="{:U('login/logout')}">退出登录</a></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-default text-align"><a href="{:U('change/index')}">修改密码</a></button><br/>-->
	<div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa  fa-reorder fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p style="font-size:30px">{$page}</p>
                            <p class="announcement-text">漏洞报告</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{:U('post/index')}"><i class="fa fa-edit"></i>提交漏洞</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="{:U('post/index')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p style="font-size:30px">{$rcount}</p>
                            <p class="announcement-text">礼品</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{:U('gift/index')}"><i class="fa fa-edit"></i>兑换礼品</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="{:U('gift/index')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-bar-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p style="font-size:30px"><foreach name="user" item="v">{$v.rank}</foreach></p>
                            <p class="announcement-text">贡献值</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="./index.php?m=&c=hall&a=index"><i class="fa fa-edit"></i>查看排行</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="./index.php?m=&c=hall&a=index"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
</div>
 <hr style="width:80%" />
      
         <div class="alert alert-success alert-dismissable" style="width:75%">
          <div class="col-lg-4">
            <h2>ID:{$v.username}</h2>
        <empty name="v.face">
         <img class="img-circle" src="./Public/Home/images/unknow.jpeg" alt="用户一" width="140" height="140">
        <else /> 
         <img class="img-circle" src="{$v.face}" alt="用户一" width="140" height="140"> 
        </empty> 
           <p><b>Rank:{$v.rank}</b></p>
        
          <p>{$v.des}</p>
           <div class="row">
      <p><a class="btn btn-primary" href="{:U('userinfo/add')}" role="button">修改个人信息</a></p>
      </div>
        </div>
        
        <div class="clearfix"></div>          
        </div>
                           
                    
</div>

</block>